main {
    width: 80vw;
    height: 60vh;
    position: relative;
}

div#foto {
    display: inline-block;
    
    float: left;
    width: 45%;
    height: 60vh;
    
    border-radius: 20px;
}

div#formulario {
    display: inline-block;
    
    margin: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);    
}